@font-face{
		font-family: "White Chick";
		src: url('../tipografias/White Chick.ttf');
	}
body{
	justify-content: center;
	display: flex;
}
main{
	width: 1250px;
	height: 250px;
	border-radius: 20px;
	background-color: blueviolet;
	border-style: dashed;
	border-width: 5px;
	border-color: red;

}
h1{
	color: red;
	font-family: 'White Chick', Arial, sans-serif;
	text-align: center;
	font-size: 35pt;
}